registry=https://registry.npmmirror.com
save-exact=false
save-prefix=^
loglevel=info
progress=true
metrics-registry=https://registry.npmmirror.com
package-lock=true
audit=true
fund=true
engine-strict=false
strict-peer-deps=false
auto-install-peers=false
force=false
legacy-peer-deps=false
